@import url("./global.css");

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 22px 0;
  background-color: var(--color-neutral-silver);
}

.header img {
  width: 154px;
  height: 24px;
}

.header-nav ul {
  display: flex;
  align-items: center;
  gap: 50px;
}

.header-nav ul li a {
  color: var(--color-neutral-d-grey);
  transition: 0.3s ease;
}

.header-nav ul li a:hover {
  color: var(--color-primary-primary);
}

.header-btn-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.header-btn-container button {
  display: inline;
  padding: 10px 20px;
  border-radius: 6px;
}

.header-btn-container .btn-login {
  background-color: var(--color-neutral-silver);
}

.btn-login a {
  color: var(--color-primary-primary);
}

.header-btn-container .btn-signUp {
  background-color: var(--color-primary-primary);
}

.btn-signUp a {
  color: var(--color-neutral-white);
}

.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 104px;
  padding: 96px 0;
  background-color: var(--color-neutral-silver);
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 657px;
}

.hero-content h1 span {
  color: var(--color-primary-primary);
}

.hero img {
  width: 391px;
  height: 407px;
}

.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 40px 0;
}

.clients-logos-container {
  display: flex;
  align-items: center;
  gap: 136px;
}

.clients-logos-container img {
  width: 48px;
  aspect-ratio: 1 / 1;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.community-content {
  display: flex;
  align-items: center;
  gap: 128px;
}

.community-content .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 24px 32px;
  max-width: 299px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.community-content .content:hover {
  box-shadow: var(--shadow-8px);
  transform: translateY(-8px);
}

.community-content .content img {
  width: 65px;
  height: 56px;
}

.community-content .content h3 {
  margin: 16px 0 8px 0;
  font-weight: 700;
}

.unlock {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 49px;
  padding: 52px 0;
}

.unlock img {
  width: 442px;
  height: 433px;
}

.unlock .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 601px;
}

.unlock .content h2 {
  max-width: 562px;
}

.unlock .content p {
  line-height: 20px;
}

.achievements {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 204px;
  padding: 64px 0;
  background-color: var(--color-neutral-silver);
}

.achievements .heading {
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 408px;
}

.achievements .heading h2 span {
  color: var(--color-primary-primary);
}

.achievements .heading p {
  color: var(--color-neutral-black);
}

.counts-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px 40px;
}

.count {
  display: flex;
  align-items: center;
  gap: 16px;
}

.count img {
  width: 48px;
  aspect-ratio: 1 / 1;
}

.count .content {
  display: flex;
  flex-direction: column;
}

.calender {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 110px;
  margin: 48px 0;
}

.calender img {
  width: 441px;
  height: 433px;
}

.calender .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  max-width: 661px;
}

.calender .content p {
  line-height: 20px;
}

.costumer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 78px;
  padding: 32px 0;
  background-color: var(--color-neutral-silver);
}

.costumer > img {
  width: 326px;
  aspect-ratio: 1 / 1;
}

.costumer .content {
  display: flex;
  flex-direction: column;
  max-width: 748px;
}

.costumer .content .name {
  font-size: var(--font-headline4-size);
  font-weight: var(--font-headline4-weight);
  color: var(--color-primary-primary);
  margin: 16px 0 8px 0;
}

.costumer .content p {
  line-height: 20px;
}

.costumer-clients-container {
  display: flex;
  align-items: center;
  gap: 32px;
  margin-top: 32px;
}

.costumer-clients-container .clients {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 41px;
}

.costumer-clients-container .clients img {
  width: 48px;
  aspect-ratio: 1 / 1;
}

.costumer-clients-container button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
}

.costumer-clients-container button p {
  font-size: var(--font-headline4-size);
  font-weight: var(--font-headline4-weight);
  color: var(--color-primary-primary);
  text-wrap: nowrap;
}

.costumer-clients-container button img {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.updates {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin: 48px 0 95px 0;
}

.updates .card-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.updates .card-container .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 368px;
  height: 366px;
}

.updates .card-container .card img {
  width: 100%;
  height: auto;
}

.updates .card-container .card .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-neutral-silver);
  width: 317px;
  height: 176px;
  padding: 16px;
  border-radius: 8px;
  box-shadow: var(--shadow-8px);
  margin-top: -80px;
  gap: 16px;
  text-align: center;
}

.updates .card-container .card .content > p {
  max-width: 285px;
  font-size: var(--font-headline4-size);
  font-weight: var(--font-headline4-weight);
  color: var(--color-neutral-grey);
}

.updates .card-container .card .content button {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px;
  flex-wrap: nowrap;
}

.updates .card-container .card .content button p {
  font-size: var(--font-headline4-size);
  font-weight: var(--font-headline4-weight);
  color: var(--color-primary-primary);
}

.updates .card-container .card .content button img {
  width: 24px;
  aspect-ratio: 1 / 1;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.footer > * {
  width: 100%;
}

.footer .demo {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  text-align: center;
  background-color: var(--color-neutral-silver);
}

.footer .demo h2 {
  max-width: 682px;
}

.footer .demo button {
  display: flex;
  background-color: var(--color-primary-primary);
  padding: 14px 32px;
  border-radius: 4px;
  flex-wrap: nowrap;
  gap: 8px;
  font-size: var(--font-body2-size);
  font-weight: var(--font-body2-weight-medium);
  color: var(--color-neutral-white);
}

.footer .demo button p {
  font-size: var(--font-body2-size);
  font-weight: var(--font-body2-weight-medium);
  color: var(--color-neutral-white);
}

.footer .demo button img {
  width: 16px;
  aspect-ratio: 1 / 1;
}

.footer .contacts {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-black);
  padding: 64px 0;
  justify-content: space-around;
}

.contacts .industry {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contacts .industry .image {
  width: 191px;
  height: 30px;
}

.copyright {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.copyright p {
  color: var(--color-neutral-silver);
}

.socials {
  display: flex;
  gap: 16px;
}

.socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  aspect-ratio: 1 / 1;
  background-color: rgba(256, 256, 256, 0.1);
  border-radius: 50%;
  transition: 0.3s ease;
}

.socials a:hover {
  background-color: rgba(256, 256, 256, 0.3);
}

.socials a img {
  width: 16px;
  height: auto;
}

.contacts .links {
  display: flex;
  gap: 30px;
}

.contacts .links > * {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.contacts .links > * h2 {
  font-size: var(--font-headline4-size);
  font-weight: var(--font-headline4-weight);
  color: var(--color-neutral-white);
}

.contacts .links > * nav {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts .links > * nav a {
  font-size: var(--font-body3-size);
  font-weight: var(--font-body3-weight-regular);
  color: var(--color-neutral-white);
  transition: 0.3s ease;
}

.contacts .links > * nav a:hover {
  color: var(--color-primary-primary);
}

.contacts .links .company,
.contacts .links .support {
  width: 160px;
}

.date .field {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: rgba(256, 256, 256, 0.1);
  padding: 10px 12px;
  border-radius: 8px;
}

.date .field input {
  width: 100%;
  font-size: var(--font-body3-size);
  font-weight: var(--font-body3-weight-regular);
  color: var(--color-neutral-white);
}

.date .field input::placeholder {
  font-size: var(--font-body3-size);
  font-weight: var(--font-body3-weight-regular);
  color: var(--color-neutral-silver);
}

.date .field .icon {
  cursor: pointer;
  width: 18px;
  aspect-ratio: 1 / 1;
}
