:root {
  /* ----- Cores ----- */
  --color-neutral-black: #263238;
  --color-neutral-d-grey: #4d4d4d;
  --color-neutral-grey: #717171;
  --color-neutral-l-grey: #89939e;
  --color-neutral-grey-blue: #abbed1;
  --color-neutral-silver: #f5f7fa;
  --color-neutral-white: #fff;

  --color-primary-primary: #4caf4f;
  --color-primary-secondary: #263238;
  --color-primary-info: #2194f3;

  --color-shade-shade1: #43a046;
  --color-shade-shade2: #388e3b;
  --color-shade-shade3: #237d31;
  --color-shade-shade4: #1b5e1f;
  --color-shade-shade5: #103e13;

  --color-tint-tint1: #66bb69;
  --color-tint-tint2: #81c784;
  --color-tint-tint3: #a5d6a7;
  --color-tint-tint4: #c8e6c9;
  --color-tint-tint5: #e8f5e9;

  --color-action-warning: #fbc02d;
  --color-action-error: #e53835;
  --color-action-success: #2e7d31;

  /* ----- Fontes ----- */
  --font-headline1-size: 64px;
  --font-headline1-weight: 600;

  --font-headline2-size: 36px;
  --font-headline2-weight: 600;

  --font-headline3-size: 28px;
  --font-headline3-weight: 600;

  --font-headline4-size: 20px;
  --font-headline4-weight: 600;

  --font-body1-size: 18px;
  --font-body1-weight-regular: 400;
  --font-body1-weight--medium: 500;

  --font-body2-size: 16px;
  --font-body2-weight-regular: 400;
  --font-body2-weight-medium: 500;

  --font-body3-size: 14px;
  --font-body3-weight-regular: 400;
  --font-body3-weight-medium: 500;

  --font-body4-size: 12px;
  --font-body4-weight-regular: 400;
  --font-body4-weight-medium: 500;

  /* ----- Efeitos ----- */
  --shadow-2px: 0 2px 4px rgba(171, 190, 209, 0.6);
  --shadow-4px: 0 4px 8px rgba(171, 190, 209, 0.4);
  --shadow-6px: 0 6px 12px rgba(171, 190, 209, 0.3);
  --shadow-8px: 0 8px 16px rgba(171, 190, 209, 0.4);
  --shadow-16px: 0 16px 32px rgba(171, 190, 209, 0.3);
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
}

.container {
  padding: 0 144px;
}

.main-title {
  font-size: var(--font-headline1-size);
  font-weight: var(--font-headline1-weight);
  color: var(--color-neutral-black);
}

.section-title {
  font-size: var(--font-headline2-size);
  font-weight: var(--font-headline2-weight);
  color: var(--color-neutral-d-grey);
}

.section-body2 {
  font-size: var(--font-body2-size);
  color: var(--color-neutral-grey);
}

.regular {
  font-weight: var(--font-body2-weight-regular);
}

.medium {
  font-weight: var(--font-body2-weight-medium);
}

.section-headline3 {
  font-size: var(--font-headline3-size);
  font-weight: var(--font-headline3-weight);
  color: var(--color-neutral-d-grey);
}

.section-body3 {
  font-size: var(--font-body3-size);
  font-weight: var(--font-body2-weight-regular);
  color: var(--color-neutral-grey);
}

.section-headline4 {
  font-size: var(--font-headline4-size);
  font-weight: var(--font-headline4-weight);
  color: var(--color-neutral-grey);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 22px 0;
  background-color: var(--color-neutral-silver);
}

.header > img {
  width: 154px;
  height: 24px;
}

.navegacao {
  display: flex;
  align-items: center;
  gap: 50px;
}

.navegacao > a {
  font-size: var(--font-body2-size);
  font-weight: var(--font-body2-weight-regular);
  line-height: 24px;
  color: var(--color-neutral-black);
}

.navegacao > a.active {
  font-weight: 500;
}

.auth-btn-container {
  display: flex;
  align-items: center;
  gap: 14px;
}

.btn {
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 8px;
  height: 40px;
  color: var(--color-primary-primary);
  padding: 0 32px;
  border-radius: 4px;
  font-size: var(--font-body2-size);
  font-weight: var(--font-body2-weight-medium);
}

.primary {
  background-color: var(--color-primary-primary);
  color: var(--color-neutral-white);
}

.first-content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.hero {
  display: flex;
  align-items: center;
  position: relative;
  gap: 104px;
  background-color: var(--color-neutral-silver);
  padding-top: 96px;
  padding-bottom: 96px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.hero > img {
  object-fit: cover;
}

.hero-content > .container-txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container-txt > h1 {
  font-size: var(--font-headline1-size);
  font-weight: var(--font-headline1-weight);
  color: var(--color-neutral-d-grey);
}

.container-txt > h1 > span {
  color: var(--color-primary-primary);
}

.carousel-dots {
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
}

.dot {
  width: 10px;
  aspect-ratio: 1 / 1;
  background-color: rgba(67, 160, 70, 0.3);
  border-radius: 50%;
}

.dot.active {
  background-color: var(--color-primary-primary);
}

.clients {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

.clients > .container-txt {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 8px;
}

.container-clients {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.community > h2 {
  width: 40%;
  text-align: center;
}

.community > p {
  margin-top: 8px;
}

.member-cards {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 16px;
}

.member-cards > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}

.member-cards > .card > h3 {
  text-align: center;
  margin-top: 16px;
}

.member-cards > .card > p {
  font-size: var(--font-body3-size);
  color: gray;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
}

.second-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 42px;
  gap: 48px;
}

.unlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.unlock-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 32px;
}

.unlock-content > .container-txt {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.business {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.business > .title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.business > .title > h2 {
  width: 80%;
}

.business > .title > h2 > span {
  color: var(--color-primary-primary);
}

.business > .title > p {
  font-size: var(--font-body2-size);
  font-weight: 400;
  color: var(--color-neutral-black);
}

.business-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  column-gap: 40px;
}

.business-card {
  display: flex;
  align-items: center;
  gap: 16px;
}

.business-card > div > h3 {
  font-size: var(--font-headline3-size);
  color: var(--color-neutral-d-grey);
  font-weight: 700;
}

.business-card > div > p {
  font-size: var(--font-body2-size);
  font-weight: 400;
  color: var(--color-neutral-grey);
}

.calender {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.calender > img {
  width: 30%;
}

.calender > div {
  width: 50%;
}

.calender > div > h2 {
  font-size: var(--font-headline2-size);
  font-weight: 600;
  color: var(--color-neutral-d-grey);
}

.calender > div > p {
  font-size: var(--font-body2-size);
  font-weight: 400;
  color: var(--color-neutral-grey);
  margin-top: 16px;
}

.calender > div > button {
  margin-top: 32px;
}

.costumer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 78px;
}

.costumer > img {
  width: 30%;
}

.content {
  width: 50%;
}

.content > .paragraph {
  font-size: var(--font-body2-size);
  font-weight: 400;
  color: var(--color-neutral-grey);
}

.content > .name {
  font-size: var(--font-headline4-size);
  color: var(--color-primary-primary);
  font-weight: 600;
  margin-top: 16px;
}

.content > .institution {
  font-size: var(--font-body2-size);
  font-weight: 400;
  color: var(--color-neutral-l-grey);
  margin-top: 8px;
}

.content > .outro {
  display: flex;
  align-items: center;
  gap: 41px;
  margin-top: 32px;
}

.btn-arrow {
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--color-primary-primary);
  font-weight: var(--font-body2-weight-medium);
}

.updates {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.updates > h2,
.updates > p {
  width: 50%;
  text-align: center;
}

.updates > p {
  margin-top: 8px;
}

.updates > .cards {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 16px;
  justify-content: space-around;
}

.update-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-neutral-silver);
  width: 317px;
  height: fit-content;
  padding: 16px 16px;
  text-align: center;
  border-radius: 8px;
  box-shadow: var(--shadow-8px);
  gap: 16px;
  margin-top: -80px;
}

footer {
  margin-top: 94px;
}

.phrase {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-neutral-silver);
  padding: 32px 0;
  gap: 32px;
}

.footer {
  display: flex;
  align-items: center;
  background-color: var(--color-neutral-black);
  padding: 64px 0;
}
